*{
  padding:none;
  margin: none;
  font-family: Monospace;
  font-size: 1.1rem;
}
a{
  color: white;
}

#content_body{
  min-width:360px;
  height: 570px;
  background-color: lightgrey;
  margin-top: -25px;
  border-radius: 20px;
}
.header{
  color: #49ab60;
  opacity: 0.78;
  padding-left: 40px;
  font-family: Consolas;
  font-size: 20px;
}
#return_btn{
  display:flex;
  position: absolute;
  
  background-color: #49ab60;
  outline: none;     
  border: 0.1px solid white;
  border-radius: 4.9px;
  margin: -10px -30px -10px 300px;
}
#return_btn>a{
  text-decoration: none;
  color: black;
}
#return_btn::active{
  transition: 0.4s;
  color:white;
  background: white;
}

/* code under here is for game_ground.html*/

.timer-score{
  position: absolute;
 display: flex;
  min-width:360px;
  height: 70px;
  margin-top: 50px;
  
}
.timer-score>div{
  color: #49ab60;
  width:140px;
  height: 20px;
  
  margin-left: 8px;
}
.a{
  width:70px;
  margin-left: 230px;
  
}

.play-box{
  
  position: absolute;
  margin-top: 150px;
  left: 80px;
  min-width: 200px;
  min-height: 140px;
  
}
.itemText {
            width: 210px;
            height: 35px;
            font-size: 1.1rem;
            border: 2px solid green;
            padding-left: 14px;
            outline: none;
            color:  #49ab60;
            border-radius: 5px;
            background: lightgrey;
        }
        
    .check {
            width: 120px;
            height: 42px;
            font-size: 1.1rem;
            border: 0.1px solid white;
            background-color: #49ab60;
            padding-left: 5px;
            outline: none;
            border-radius: 5px;
            margin-left: 50px;
            transition: 0.1s;
        }
        .check:active {
            background-color: white;
            border: 2px solid green;
        }